.courses {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  position: absolute;
  left: 50%;
  padding-top: 10px;
  gap: 10px;
  align-content: flex-start;
  overflow: auto;
}

.overall {
  display: flex;
  height: 100%;
  width: 100%;
}

.search {
  width: 20%;
  position: absolute;
  top: 20%;
  left: 10%;
}

.courseBtn {
  position: absolute;
  top: 40%;
  left: 10%;
}
