.courses {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  position: absolute;
  left: 40%;
  padding-top: 10px;
  gap: 10px;
  align-content: flex-start;
  overflow: auto;
}

.overall {
  display: flex;
  height: 100%;
  width: 100%;
}
