.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  display: flex;
  height: 700px;
  width: 100%;
}

.topImage {
  background-image: url(./background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  height: 100%;
  width: 100%;
}

.bottom {
  height: 600px;
  width: 100%;
}

.text {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: 500;
  letter-spacing: 0em;
  color: white;
  padding-left: 0px;
  padding-right: 150px;
  align-self: flex-end;
}

.wrapper {
  display: flex;
  height: 200px;
  background-color: #14213D;
  position: absolute;
  margin-top: 100px;
}