.moveDown {
  position: relative;
  left: 10%;
  top: 8%;
  font-size: xx-large;
  font-weight: bold;
}

.downGray {
  position: relative;
  left: 10%;
  color: gray;
  top: 8%;
}

.cardStyling {
  height: 250px;
  color: black;
  line-height: 150%;
  border: 1px solid black;
  border-radius: 8px;
  width: 95%;
}

.cardStyling:hover {
  background-color: #f5f5f5;
}

.innerDiv {
  display: flex;
  justify-content: space-between;
  line-height: 25px;
  width: 70%;
  left: 10%;
  align-items: center;
  text-indent: 0px;
  position: relative;
  top: 30%;
}

.size {
  width: 100%;
}
